{% extends '@module/layout.html.twig' %}

{% set page_title = 'oauth-server'|trans %}
{% set active_item = 'clients' %}

{% block content %}
    <h2 class="title">{{ 'form_client_add_title'|trans }}</h2>
    <form class="needs-validation" action="{{ url_for('oauth_server.client.add') }}" method="post" novalidate>

        {{ flash('error')|raw }}

        <div class="form-group">
            <label for="name">{{ 'name'|trans }}:</label>
            <input type="text"
                   class="form-control {{ vld_style('name') }}"
                   id="name"
                   name="name"
                   aria-describedby="nameHelp"
                   value="{{ client.name }}">
            <small id="nameHelp" class="form-text text-muted">{{ 'client_name_help'|trans }}.</small>
            {{ vld_feedback('name')|raw }}
        </div>

        <div class="form-group">
            <label for="type">{{ 'type'|trans }}:</label>
            <select class="custom-select {{ vld_style('type') }}" id="type" name="type" aria-describedby="typeHelp">
                <option value="">{{ 'choose'|trans }}</option>
                {% for type in client.types %}
                    {% if client.type == type %}
                        <option value="{{ type }}" selected>{{ type|trans }}</option>
                    {% else %}
                        <option value="{{ type }}">{{ type|trans }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <small id="typeHelp" class="form-text text-muted">{{ 'client_type_help'|trans }}.</small>
            {{ vld_feedback('type')|raw }}
        </div>

        <div class="form-group">
            <label for="description">{{ 'description'|trans }}:</label>
            <textarea class="form-control {{ vld_style('description') }}"
                      style="min-height:110px;"
                      id="description"
                      name="description"
                      aria-describedby="descriptionHelp">{{ client.description }}</textarea>
            <small id="descriptionHelp" class="form-text text-muted">{{ 'client_description_help'|trans }}.</small>
            {{ vld_feedback('description')|raw }}
        </div>

        <div class="form-group">
            <label for="homepage_url">{{ 'homepage_url'|trans }}:</label>
            <input type="text"
                   class="form-control {{ vld_style('homepage_url') }}"
                   id="homepage_url"
                   name="homepage_url"
                   aria-describedby="homepageUrlHelp"
                   value="{{ client.homepage_url }}">
            <small id="homepageUrlHelp" class="form-text text-muted">{{ 'client_homepage_url_help'|trans }}.</small>
            {{ vld_feedback('homepage_url')|raw }}
        </div>

        <div class="form-group">
            <label for="callback_url">{{ 'callback_url'|trans }}:</label>
            <input type="text"
                   class="form-control {{ vld_style('callback_url') }}"
                   id="callback_url"
                   name="callback_url"
                   aria-describedby="callbackUrlHelp"
                   value="{{ client.callback_url }}">
            <small id="callbackUrlHelp" class="form-text text-muted">{{ 'client_callback_url_help'|trans }}.</small>
            {{ vld_feedback('callback_url')|raw }}
        </div>

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('oauth_server.clients.show') }}" role="button">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'add'|trans }}</button>
        </div>

    </form>
{% endblock %}