{% extends '@module/layout.html.twig' %}

{% set page_title = 'oauth-server'|trans %}
{% set active_item = 'clients' %}

{% block content %}
    <h2 class="title">{{ 'message_client_add_title'|trans }}</h2>

    {{ flash('warning')|raw }}
    {% set client = flash('value') %}

    <div class="form-group">
        <label for="client_id">{{ 'client_id'|trans }}:</label>
        <textarea class="form-control"
                  style="min-height:110px;"
                  id="client_id">{{ client.client_id }}</textarea>
    </div>

    <div class="form-group">
        <label for="client_secret">{{ 'client_secret'|trans }}:</label>
        <textarea class="form-control"
                  style="min-height:110px;"
                  id="client_secret">{{ client.client_secret }}</textarea>
    </div>

    <div class="text-right">
        <a class="btn btn-primary" href="{{ url_for('oauth_server.clients.show') }}" role="button">{{ 'got_it'|trans }}</a>
    </div>

{% endblock %}