{% extends '@module/layout.html.twig' %}

{% set page_title = 'oauth-server'|trans %}
{% set active_item = 'clients' %}

{% block content %}
    <h2 class="title">{{ 'form_client_delete_title'|trans }}</h2>
    <form class="needs-validation" action="{{ url_for('oauth_server.client_by_credential.delete', {'id': id}) }}" method="post" novalidate>

        {{ flash('warning')|raw }}

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('oauth_server.clients_by_credential.show') }}" role="button">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'confirm'|trans }}</button>
        </div>

    </form>
{% endblock %}