{% extends '@module/layout.html.twig' %}

{% set page_title = 'oauth-server'|trans %}
{% set active_item = 'clients' %}

{% set flash_values = flash('value') %}

{% block content %}

    <h2 class="title">{{ flash_values.page_title|trans }}</h2>
    <table class="table table-striped table-dark table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'name'|trans }}</th>
            <th scope="col">{{ 'homepage_url'|trans }}</th>
            <th scope="col">{{ 'callback_url'|trans }}</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% set n = 0 %}
        {% for client in clients %}
            {% set n = n + 1 %}
            <tr data-toggle="tooltip" data-placement="top" title="{{ client.description }}">
                <th scope="row">{{ n }}</th>
                <td>{{ client.name }}</td>
                <td>{{ client.homepage_url }}</td>
                <td>{{ client.callback_url }}</td>
                <td><a href="{{ url_for('oauth_server.client.edit', {'id': client.id}) }}">{{ 'modify'|trans }}</a></td>
                <td><a href="{{ url_for('oauth_server.client.delete', {'id': client.id}) }}">{{ 'delete'|trans }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <a class="btn btn-secondary" href="{{ url_for('oauth_server.index') }}" role="button">{{ 'back'|trans }}</a>
        <a class="btn btn-primary" href="{{ url_for('oauth_server.client.add') }}" role="button">{{ 'add'|trans }}</a>
    </div>
{% endblock %}
